/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700;800;900&display=swap'); */
@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat';
}

body {
  background: #292c2e;
  color: white;
  font-size: 20px;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  gap: 1em;
  padding: 3em 0;
}

h1 {
  font-size: 4em;
  font-weight: 800;
  /* margin-top: .5em; */
}

nav {
  display: flex;
  justify-content: space-between;
  background: #000;
  /* background: #101143; */
  padding: 1em;
}

nav>div {
  display: flex;
  gap: 1em;
}

.link {
  text-decoration: none;
  color: gray;
}

.link.active {
  color: white;
  font-weight: bold;
}

nav select {
  font-size: 15px;
  padding: .3em .5em;
  cursor: pointer;
}



.share__container {
  display: grid;
  /*display: flex;*/
  /*justify-content: center;*/
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, 42px);
  grid-auto-rows: 42px;
  /* Specify height of grid items */
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 801px) {
  .share__container {
    max-width: 800px;
    /* Use 800px when viewport width is more than 800px */
  }
}

.share__some-network {
  text-align: center;
}

.share__some-network__share-button {
  cursor: pointer;
}

.share__some-network__share-button:hover:not(:active) {
  opacity: 0.75;
}

.word-node-label {
  font-size: 16px;
  padding: 1px 4px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.5);
  user-select: none;
}

.faq-list-item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.5em;
  width: 0.4em;
  height: 0.4em;
  background-color: #cab331;
  border-radius: 50%;
}

.quote {
  font-style: italic;
  padding-left: 1em;
  border-left: 4px solid #ccc;
  margin: 1em 0;
}

.selectable-text {
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

.inline_ref {
  color: #cab331;
  text-decoration: underline;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}


@keyframes slowFloat {

  0%,
  10%,
  90%,
  100% {
    opacity: 1;
    transform: scale(1.16);
  }

  50% {
    opacity: 0.96;
    transform: scale(0.98);
  }
}

@keyframes bounce {

  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-10px);
  }

  60% {
    transform: translateY(-5px);
  }
}

.slow-bounce.slow-float {
  animation: slowFloat 6s ease-in-out infinite, bounce 4s 3;
  /* transition: transform 0.6s ease; */
}

.slow-bounce:hover {
  animation: none;
  transform: scale(1.28);
}

.slide-left {
  animation: slideLeft 0.3s forwards;
}

.slide-right {
  animation: slideRight 0.3s forwards;
}

@keyframes slideLeft {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes slideRight {
  from {
    transform: translateX(-100%);
  }

  to {
    transform: translateX(0);
  }
}

.slick-prev:before {
  border-radius: "50%";
  color: #d20033;
}

.slick-next:before {
  border-radius: "50%";
  color: #d20033;
}


.His-color {
  color: #d20033;
}

.speaker0 {
  color: #f32755;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}

.speaker1 {
  color: #def34c;
  user-select: text;
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
}